*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #0b0916;
    color: #fff;
    height: 100vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

.github_search_container {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.github_search_container input {
    min-width: 700px;
    padding: 16px;
    border-radius: 16px;
    border: 4px solid transparent; /* Define un borde transparente inicialmente */
    font-size: 1em;
    transition: border-color 0.3s ease;
    margin-bottom: 40px;
}

.github_search_container input:focus {
    outline: none;
    border-color: #6bff6b; 
}

.results-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-y: auto;
    gap: 16px;
}

.github_item {
    grid-column: span 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    text-decoration: none;
    
}

.github_item .image_container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: 0.3s ease;
}

.github_item p{
    margin-left: 8px;
    padding: 0;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.github_item:hover .image_container{
    border-color: #6bff6b;
}

.github_item:hover p{
    color: #6bff6b;
}

.github_item .image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.loading__spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #6bff6b;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}